nav {
  background: #ffffff;
  width: 95%;
  max-width: 1080px;
  height: 60px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  text-align: center;
}
nav .nav-logo img {
  margin-left: 15%;
  padding-bottom: 12px;
  width: 120px;
}
nav .nav-links {
  height: 40px;
  text-align: center;
  margin-right: 18px;
  padding-top: 5px;
}
nav .nav-links a {
  color: black;
  margin-left: 20px;
  border-left: 1px solid black;
  padding-left: 20px;
  text-decoration: none;
}
nav .nav-links a:hover {
  color: #7BB398;
}
nav #nav-first-item {
  border-left: none;
}
nav #nav-last-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #7BC0D7;
}
nav #nav-last-item:hover {
  background-color: #65AFCA;
  color: #ffffff;
}
@media (max-width: 500px) {
  nav {
    display: block;
    width: 100%;
    height: 190px;
    position: absolute;
    padding-top: 0;
  }
  nav .nav-logo img {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  nav .nav-links {
    margin: 0;
    padding-top: 0;
  }
  nav .nav-links a {
    display: block;
    border-top: 1px solid black;
    border-left: none;
    margin: 0;
    padding: 10px 0 10px 0;
  }
}
.debug {
  border: 2px solid red;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
header {
  background-image: url(/img/eli-francis-_M-DrbiNFa4-unsplash.jpg);
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
header h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
header .header-button {
  color: black;
  height: 16px;
  text-decoration: none;
  background-color: #7BB398;
  margin: 0 auto 20px auto;
  border: 1px solid #ffffff;
  padding: 18px;
  text-align: center;
  border-radius: 6px;
}
header .header-button:hover {
  cursor: pointer;
  background-color: rgba(123, 179, 152, 0.753);
  color: #ffffff;
}
header h3 {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
header p {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 500px) {
  header {
    height: 390px;
    width: 100%;
    margin: 221px auto 0;
  }
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer {
  background-color: #ffffff;
  text-decoration: underline;
  height: 60px;
  display: flex;
  justify-content: center;
}
footer p {
  padding-top: 5px;
}
footer img {
  height: 30px;
  width: 30px;
  margin: 10px 0 0 20px;
  padding-top: 5px;
}
.landing-content {
  background-color: #2A304A;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.landing-content .browse {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
}
.landing-content .browse img {
  height: 33.4%;
  width: 23.2%;
  margin: auto;
}
.landing-content .browse h4 {
  margin: 0 auto;
}
.landing-content .technology {
  background: #ffffff;
  color: black;
}
.landing-content .engineering {
  background-color: #ffffff;
  color: black;
}
@media (max-width: 892px) {
  .landing-content .browse {
    width: 75%;
  }
  .landing-content .browse img {
    width: 16.1%;
  }
}
@media (max-width: 500px) {
  .landing-content .browse img {
    width: 23.2%;
  }
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cta {
  height: 500px;
  background-image: url("/img/nick-hillier-QsBTYwxjzUU-unsplash.jpg");
  background-size: 100% 100%;
}
.cta #cta-h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  font-size: 2.8rem;
}
.cta .button-div {
  text-align: center;
  margin-bottom: 40px;
}
.cta .btn-lg {
  padding: 10px 26px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #7BB398;
}
.cta .btn-lg:hover {
  cursor: pointer;
  background-color: rgba(123, 179, 152, 0.753);
  color: #ffffff;
}
.cta p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.team-content {
  background-color: #2A304A;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 100px;
  text-align: center;
}
.team-content h1 {
  width: 100%;
  height: 20px;
  color: #ffffff;
}
.team-content p {
  color: #ffffff;
  height: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
}
.team-content .team-images {
  filter: grayscale(100%);
  height: 250px;
  width: 40%;
  margin: 20px;
}
.features-content {
  background-color: #2A304A;
  display: flex;
}
.features-content .features {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 1.7%;
  padding-right: 1.7%;
}
.features-content .features h4 {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}
.features-content .features p {
  margin: 10px;
  height: 100px;
  color: #ffffff;
}
.features-content .features img {
  margin: 0 auto 20px;
  width: 65%;
  height: 200px;
}
.features-content .second-feature {
  border-left: 1px solid #242943;
  border-right: 1px solid #242943;
}
@media (max-width: 500px) {
  .features-content {
    flex-wrap: wrap;
    width: 100%;
  }
  .features-content .features {
    width: 100%;
    height: 300px;
    padding-left: 0;
  }
  .features-content .features h2 {
    margin: 0 auto;
  }
  .features-content .features h4 {
    padding-top: 20px;
    border-top: 1px solid #242943;
    margin: 0;
  }
  .features-content .features p {
    margin: 20px;
  }
  .features-content .features img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .features-content .third-feature {
    margin-bottom: 25px;
  }
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  max-width: 1080px;
  width: 95%;
  background: #242943;
  margin: 60px auto 0;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 140px auto 0;
  }
}
body h1 {
  color: #ffffff;
  font-size: 2.8rem;
}
body h2 {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}
body h3 {
  color: #ffffff;
}
.teamContent {
  margin: auto;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .teamContent {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .teamContent {
    margin-top: 200px;
  }
}
.teamContent .bookStack {
  margin: auto;
}
.teamContent .bookStack .teamMemberLeft .about {
  display: none;
}
.teamContent .bookStack .teamMemberLeft .about .socialLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 30%;
}
.teamContent .bookStack .teamMemberLeft .member-open {
  height: 200px;
  width: 75%;
  margin: auto;
  background: #2A304A;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: white;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-around;
}
.teamContent .bookStack .teamMemberLeft .member-open .headshot {
  height: 200px;
  margin-left: 2.5%;
  margin-top: auto;
  padding: 0;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberLeft .member-open {
    display: block;
    height: 400px;
  }
  .teamContent .bookStack .teamMemberLeft .member-open .headshot {
    width: 75%;
    position: top;
    margin-left: 12.5%;
    margin-top: 5%;
    padding: 0;
  }
}
.teamContent .bookStack .teamMemberLeft .member-open .aboutStatement {
  height: 40%;
  width: 40%;
  margin: 0px 10px 0px 10px;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberLeft .member-open .aboutStatement {
    width: 80%;
    margin: auto;
  }
}
.teamContent .bookStack .teamMemberLeft .member-open .aboutStatement .socialLinks {
  height: auto;
  margin-left: auto;
  padding: 0px;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberLeft .member-open .aboutStatement .socialLinks {
    margin-top: 25%;
  }
}
.teamContent .bookStack .teamMemberLeft #arshakBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2.5%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 88%;
  height: auto;
}
.teamContent .bookStack .teamMemberLeft #jordanBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 96%;
  height: auto;
}
.teamContent .bookStack .teamMemberLeft #alexBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5.5%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 91%;
  height: auto;
}
.teamContent .bookStack .teamMemberRight .about {
  display: none;
}
.teamContent .bookStack .teamMemberRight .about .socialLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 30%;
}
.teamContent .bookStack .teamMemberRight .member-open {
  height: 200px;
  width: 75%;
  margin: auto;
  background: #2A304A;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.teamContent .bookStack .teamMemberRight .member-open .headshot {
  height: 200px;
  margin-right: 2.5%;
  margin-top: auto;
  padding: 0;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberRight .member-open {
    display: block;
    height: 400px;
  }
  .teamContent .bookStack .teamMemberRight .member-open .headshot {
    width: 75%;
    position: top;
    margin-left: 12.5%;
    margin-top: 5%;
    padding: 0;
  }
}
.teamContent .bookStack .teamMemberRight .member-open .aboutStatement {
  height: 40%;
  width: 40%;
  margin: 0px 10px 0px 10px;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberRight .member-open .aboutStatement {
    width: 80%;
    margin: auto;
  }
}
.teamContent .bookStack .teamMemberRight .member-open .aboutStatement .socialLinks {
  height: auto;
  margin-left: auto;
  padding: 0px;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .teamContent .bookStack .teamMemberRight .member-open .aboutStatement .socialLinks {
    margin-top: 25%;
  }
}
.teamContent .bookStack .teamMemberRight #joseBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 6.5%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 88%;
  height: auto;
}
.teamContent .bookStack .teamMemberRight #spencerBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 95%;
  height: auto;
}
.teamContent .bookStack .teamMemberRight #bradBook {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 92%;
  height: auto;
}
.fa {
  display: none;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #0077B5;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
@media only screen and (max-width: 500px) {
  .navMobile {
    height: 150px;
  }
}
