.teamContent{
  margin: auto;
  width: 100%;

  @media only screen and (max-width: 800px){
    width: 90%;
  }

  @media only screen and (max-width: 500px){
    margin-top: 200px;
  }

  .bookStack{
    margin: auto;

    .teamMemberLeft{

      .about{
        display:none;
          .socialLinks{
            display: flex;
            justify-content: space-around;
            margin-top: 30%;
          }
        
      }

      .member-open {
        height: 200px;
        width: 75%;
        margin: auto;
        background:  #2A304A;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        color: white;
        border-radius: 2px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        display: flex;
        justify-content: space-around;

        .headshot {
          height: 200px;
          margin-left: 2.5%;
          margin-top: auto;
          padding: 0;
        }

        @media only screen and (max-width: 500px){
          display: block;
          height: 400px;

          .headshot {
            width: 75%;
            position: top;
            margin-left: 12.5%;
            margin-top: 5%;
            padding: 0;
          }
        }

        .aboutStatement{
          height: 40%;
          width: 40%;
          margin: 0px 10px 0px 10px;
          @media only screen and (max-width: 500px){
            width: 80%;
            margin: auto;
          }

          .socialLinks{
            height: auto;
            margin-left: auto;
            padding: 0px;
            position: relative;

            @media only screen and (max-width: 500px){
              margin-top: 25%;
            }
          }
        }
      }

      #arshakBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 2.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 88%;
        height: auto;
      }

      #jordanBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1%;
        padding-top: 0px;
        padding-bottom: 0px;
        width:96%;
        height: auto;
      }

      #alexBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 91%;
        height: auto;
      }
    }

    .teamMemberRight{

      .about{
        display:none;
          .socialLinks{
            display: flex;
            justify-content: space-around;
            margin-top: 30%;
          }
      }

      .member-open {
        height: 200px;
        width: 75%;
        margin: auto;
        background:  #2A304A;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        color: white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        border-radius: 2px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        .headshot {
          height: 200px;
          margin-right: 2.5%;
          margin-top: auto;
          padding: 0;
        }

        @media only screen and (max-width: 500px){
          display: block;
          height: 400px;

          .headshot {
            width: 75%;
            position: top;
            margin-left: 12.5%;
            margin-top: 5%;
            padding: 0;
          }
        }

        .aboutStatement{
          height: 40%;
          width: 40%;
          margin: 0px 10px 0px 10px;
          @media only screen and (max-width: 500px){
            width: 80%;
            margin: auto;
          }

          .socialLinks{
            height: auto;
            margin-left: auto;
            padding: 0px;
            position: relative;

            @media only screen and (max-width: 500px){
              margin-top: 25%;
            }
          }
        }
      }

      #joseBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 6.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 88%;
        height: auto;
      }

      #spencerBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 95%;
        height: auto;
      }

      #bradBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 8%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 92%;
        height: auto;
      }
    }
  }
}

//social buttons from w3 schools and font awesome library
.fa {
display:none;
padding: 10px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 15%;
}

.fa:hover {
opacity: 0.7;
}

.fa-linkedin{
background: #0077B5;
color: white;
}

/* Twitter */
.fa-twitter {
background: #55ACEE;
color: white;
}

@media only screen and (max-width: 500px){
  .navMobile{
    height: 150px;
  }
}