.landing-content {
    background-color: #2A304A;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .browse {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 300px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        margin: 20px;
        padding: 20px;
        img {
            // height: 100px;
            height: 33.4%;
            width: 23.2%;
            margin: auto;
        }
        h4 {
            margin: 0 auto;
        }
    }
    .technology {
        background: #ffffff;
        color: black;
        // color: #d8ac87;
    }
    .engineering {
        background-color: #ffffff;
        color: black;
        // color: #d8ac87;
    }
}
@media(max-width: 892px) {
    .landing-content {
        .browse {
            width: 75%;
            img {
                width: 16.1%;
            }
        }
    }
}
@media(max-width: 500px) {
    .landing-content {
        .browse {
            img {
                width: 23.2%;
            }
        }
    }
}

.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}